$arrow_height: 100px;

.employment {
  h2 {
    margin-top: 8em;
  }
  h3 {
    margin-bottom: 8em;
  }
  .history-item {
    font-size: 85%;
    margin-bottom: $arrow_height/2;
    &__date {
      font-size: .7em;
      &-year {
        font-size: 1.3em;
      }
    }
    &__info-arrow {
      width: 13px;
      transform: rotate(90deg);
      margin: 10px 0 5px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      strong {
        margin-bottom: 7px;
        &.sub {
          font-size: .7em;
        }
      }
      img.info {
        height: 1.2em;
        margin: 0 0 12px;
      }
      img.customers {
        height: 2em;
        margin-bottom: 7px;
      }
      p {
        margin-top: 10px;
        width: 75%;
        font-size: .7em;
        opacity: .75;
      }
    }
  }

  &__arrow-next {
    display: inline-block;
    position:absolute;
    height: $arrow_height;
    width: $arrow_height;
    margin: 0;
    margin-top: -$arrow_height/2;
    text-align: center;
    right: 0px;
    opacity: .25;
    .arrow-inner {
      display: inline-block;
      height: $arrow_height;
      width: $arrow_height;
      background-image: url(../assets/empl_arrow_mob2.png);
      background-repeat: no-repeat;
      background-size: auto $arrow_height;
      background-position: center;
    }

    &.arrow-even {
      right: calc(100% - 120px);
      .arrow-inner {
        background-image: url(../assets/empl_arrow_mob.png);
      }
    }
  }

  img.emoji-light {
    height: 2em;
    margin-bottom: 10em;
  }

  @media all and (min-width: 860px) {
    &__row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 95%;
      margin-bottom: 2em;
      &:nth-child(3) {
        flex-direction: row-reverse;
        .employment__arrow-next {
          transform: scaleX(-1);
        }
      }
    }

    &__history {
      width: 100%;
      &-item {
        width: 18%;
        &.item-tbwa {
          width: 25%;
        }
      }
    }

    &__arrow-next {
      position: relative;
      top: unset;
      right: unset;
      .arrow-inner {
        background-image: url(../assets/empl_arrow.png);
        background-size: 50%;
        background-position: 50% 70%;
      }
      &.arrow-even {
        right: unset;
        .arrow-inner {
          background-image: url(../assets/empl_arrow.png);
        }
      }
      &.arrow-midlevel {
        position: absolute;
        height: $arrow-height*2.5;
        right: 2%;
        margin-top: -$arrow-height*2.25;
        .arrow-inner {
          height: $arrow-height*2.5;
          background-image: url(../assets/empl_arrow_mid.png);
          background-size: contain;
        }
      }
      &.arrow-curly1 {
        .arrow-inner {
          background-image: url(../assets/empl_arrow2.png);
          background-size: 70%;
          background-position: 50% 50%;
        }
      }
      &.arrow-curly2 {
        .arrow-inner {
          background-image: url(../assets/empl_arrow3.png);
          background-size: 70%;
          background-position: 50% 50%;
        }
      }
    }
    
  }
}