@keyframes muscle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg) scale(1.15);
  }
  20% {
    transform: rotate(0deg);
  }
}

.skills {
  h1 {
    margin-bottom: 1.5em;
    margin-top: 8em;
    .emoji {
      transform-origin: bottom right;
      animation: muscle 4s ease-out infinite;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5em;
    &-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 15%;
        max-width: 50px;
      }
      p {
        width: 80%;
        font-size: .8em;
        text-align: left;
        padding-left: .5em;
      }
    }
  }
  &__etc {
    width: 85%;
    font-size: .8em;
    margin: 2em 0 1em;
    &.etc-languages {
      margin-bottom: 5em;
    }
  }

  @media all and (min-width: 860px) {
    &__content {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}