.works {
  .heading {
    margin-top: 10px;
    a {
      font-size: .8em;
    }
    img {
      transform: scaleX(-1) rotate(90deg);
      width: 1.5em;
      position: relative;
      left: 10px;
      top: 1.2em;
    }
  }
  &__contact-link {
    text-decoration: underline;
    cursor: pointer;
  }
}